doc/developer/html"
libs
prefix

### Xcode ###
proj/proj.ios/eglapi-core-lib/build
proj/proj.ios/eglapi-core-lib/*.xcodeproj/*
!proj/proj.ios/eglapi-core-lib/*.xcodeproj/project.pbxproj
!proj/proj.ios/eglapi-core-lib/*.xcworkspace/contents.xcworkspacedata

samples/samples.ios/Sample1/proj/proj.ios/*.xcodeproj/*
!samples/samples.ios/Sample1/proj/proj.ios/*.xcodeproj/project.pbxproj
!samples/samples.ios/Sample1/proj/proj.ios/*.xcworkspace/contents.xcworkspacedata
